<div id="mapspill-{{ cid }}">
    <div class="row">
        <div class="col-md-9">
            <ul><li>Left click once to pick up or put down a pin. (Don't hold down the button.)</li>
            <li>Right click to cancel current placement and return the pin to where it was.</li>
        </div>
        <div class="col-md-3">
            <p>Coordinate Style:<p>
            <div class="radio">
                <label><input type="radio" name="format" value="dms" checked> Deg/Min/Sec</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="format" value="dec"> Decimal Deg</label>
            </div>
        </div>
    </div>
    <div id="spill-form-map-{{ cid }}" class="map"></div>
</div>